
    /* Början av min navbar /sandra */

    header {
      border:1px solid rgb(243, 27, 27);
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(231, 23, 23, 0), rgba(255, 255, 255, 0.637),  rgb(255, 255, 255)),
      url("Bilder/nice-christmas-packages-white-table.jpg");
      background-size: 100%;
      padding-top: 350px;
      margin-bottom: 100px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
    }

    h2 {
      border:1px solid darkgrey;
      margin-bottom:40px;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 4rem;
    }

    nav {
      font-family: Arial, Helvetica, sans-serif;
    }

    #nav-bar {
      border:1px solid rgb(29, 158, 36);
      width: 700px;
      height: 50px;
      list-style-type: none;
    }
    
    li {
      list-style-type: none;
      border-bottom:darkgrey;
      float: left;
    }
    
    li:last-child {
      border-right: none;
    }
    
    li a {
      display: block;
      color: rgb(77, 77, 77);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: rgb(199, 199, 199);
    }
    
    .active {
      background-color: #bbd4bc;
    }      

  /* slutet av min navbar */

  
.card {
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-areas: "card1 card2 card3 card4";
  justify-content: space-around;
  text-align: center;
  padding: 15px;
  transition: 0.1s;
}

#item1 {
  grid-area: card1;
}

#item2 {
  grid-area: card2;
}

#item3 {
  grid-area: card3;
}

#item4 {
  grid-area: card4;
}

.card:hover {
  box-shadow: 0 8px px 0 rgba(0, 0, 0, 0.2);
}

.container-item {
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
}

.title {
  color: #2d8ac0;
  font-weight: bold;
}

.card-img {
  height: 10rem;
  width: 10rem;
}

.card-p {
  width: 10vw;
}

.buy-btn {
  align-self: flex-end;
  background-color: #2ea44f;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}
.buy-btn:hover {
  background-color: #004d00;
  color: black;
}

.pris {
  color: #c5004a;
  text-align: left;
}

@media (max-width: 780px) {
  .card {
    display: grid;
    grid-template-areas: "card1" "card2" "card3" "card4";
    grid-gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer {
  background: rgba(67, 90, 51, 0.822);
  margin-top: 1rem;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 10px;
  border-top: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  position: relative;
  display: flex;
  justify-content: center;
}

.social i {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 50px;
  color: #fff;
}

.footer-a-li a {
  text-decoration: none;
  color: black;
}

.footer-bottom {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
